<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary">
      
    <ion-title>
      ForgetMeNot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <br/><br/>

    <!-- Login Form -->
    <form [formGroup]="loginForm" novalidate>
      
      <!-- Loogin Username -->
      <ion-item>
        <ion-label stacked><b>Username: </b></ion-label>
        <ion-input type="text" [(ngModel)]="user.email" formControlName="eml" placeholder="123@gmail.com"></ion-input>
      </ion-item>
      <!-- Error message -->
      <ion-item *ngIf="loginForm.controls['eml'].hasError('required')  && loginForm.controls['eml'].touched">
        <p>*Email is required</p>
      </ion-item>
      <!-- Login Password -->
      <ion-item>
        <ion-label stacked><b>Password: </b></ion-label>
        <ion-input type="password" [(ngModel)]="user.password" formControlName="pass" placeholder="*******"></ion-input>
      </ion-item>
      <!-- Error message -->
      <ion-item *ngIf="loginForm.controls['pass'].hasError('required')  && loginForm.controls['pass'].touched">
          <p>*Password is required</p>
        </ion-item>

      <!-- Login Button -->
      <ion-item>
        <button id="btnLogin"ion-button type="submit" [disabled]="!loginForm.valid"  (click)= "login(user)" >Login</button>
      </ion-item>

    </form>
    <!-- Form End -->

    <!-- Register Link -->
    <ion-item>
      <p align="center">Don't have an account?</p>
      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
      <button ion-button clear (click)="goToRegisterPage()">
       SignUp here.
      </button>
    </ion-item>
  
  </ion-list>

</ion-content>