<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--  HCI -->
    <!-- The login button will not be usable until the user types the username and the password -->
      <!-- The user can login to the app by giving the correct credentials in the given fields on the form and press login -->
   
<!-- Security -->
    <!-- The user will be given this alert if any error occurs in the login process-->
     <!-- To prevent the user from accessing other tabs without login the tabs have been removed from the login and register page
          An alert box has been given to tell the user if the login process failed and allows the user to try again. -->
       
<ion-header>
  <ion-navbar color="mycolor">
      
    <ion-title>
      ForgetMeNot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-list>
    <img src="../../assets/imgs/logo7.PNG">
    
    
  
    <!-- Login Form -->
    <form [formGroup]="loginForm" novalidate >
      
      <!-- Login Username -->
      <ion-item>
        <ion-label color="mycolor" class="labels"><b>Email: </b></ion-label>
        <ion-input type="email" [(ngModel)]="user.email" formControlName="eml" placeholder="123@gmail.com"></ion-input>
      </ion-item>
      <!--If the user selects the field and does not fill it then this message will be printed -->
      <!-- Error message -->
      <ion-item *ngIf="loginForm.controls['eml'].hasError('required')  && loginForm.controls['eml'].touched">
        <p>*Email is required</p>
      </ion-item>
      <!-- Login Password -->
      <ion-item>
        <ion-label color="mycolor" class="labels"><b>Password: </b></ion-label>
        <ion-input type="password" [(ngModel)]="user.password" formControlName="pass" placeholder="*******"></ion-input>
      </ion-item>
      <!-- Error message -->
      <ion-item *ngIf="loginForm.controls['pass'].hasError('required')  && loginForm.controls['pass'].touched">
          <p>*Password is required</p>
        </ion-item>

     
      <!-- Login Button -->
      <ion-item>
        <button id="btnLogin"ion-button type="submit" [disabled]="!loginForm.valid"  (click)= "login(user)" color="mycolor" >Login</button>
      </ion-item>

    </form>
    <!-- Form End -->

    <!-- Register Link -->
    <ion-item>
      <p align="center">Don't have an account?</p>
      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
      <button ion-button clear (click)="goToRegisterPage()" color="mycolor">
       SignUp here.
      </button>
    </ion-item>
  
  </ion-list>

</ion-content>