<!--
  Generated template for the EachMemberPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- 
  HCI issues:-
    unable to edit the member profile
    not able to add images from the gallery to the member profile
    
  Security issues:- 
     The member profile's information are secured from viewing only to that particular user
-->

<ion-header>
  <ion-navbar color="mycolor">
    <ion-title id="title">
      Members
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <!--To display the profile pic of the member-->
  <div style="text-align:center">
    <!-- <button style="height:150px;" *ngIf="member.profPic == ''" ion-button clear outline color="grey" icon-bottom (click)="changePicture()"> -->
        <ion-icon *ngIf="member.profPic == ''" ios="ios-contact" md="md-contact" id="icon"></ion-icon>
      <!-- </button> -->
  
      <!-- <button  style="height:200px; width:200px" *ngIf="member.profPic" ion-button clear icon-left (click)="changePicture()"> -->
        <img id ="userPic" *ngIf="member.profPic" [src]=member.profPic/>
      <!-- </button> -->
  </div>

       <!--To display the details of the member-->
    <ion-list >
        <hr>
          <ion-item>
            Name : {{member.firstName}} &nbsp; {{member.lastName}}
          </ion-item>
          <ion-item>
            Relationship : {{member.relationship}}
          </ion-item>
          <ion-item *ngIf="member.email">
              Email : {{member.email}}
            </ion-item>
            <ion-item *ngIf="member.phoneNum">
                Contact No : {{member.phoneNum}}
              </ion-item>
              <ion-item *ngIf="member.address">
                  Address : {{member.address}}
                </ion-item>
              <ion-item *ngIf="member.DOB">
                  Date of Birth : {{member.DOB}}
              </ion-item>
          <hr>
        </ion-list>

         <!--Button to add images to the member profile-->
            <button ion-button small outline color="mycolor" id="btnBrowse" icon-start (click)="browsePhone()">
                <ion-icon name="images"></ion-icon>
               Add Images
              </button>
              
              
         <!--Confirmation to upload the image to the storage-->
              <div id="add"> 
                  <br>
                  <img src="{{imageSrc}}"> <br>
                  <!--Save Button -->
                  <button ion-button outline color="mycolor" icon-start id="btnUpload"(click)="upload()" *ngIf="imageSrc">
                      <ion-icon name="cloud-upload"></ion-icon>
                    Save !</button>
                    
                  <!--to cancel the image to be uploaded-->
                    <button ion-button outline color="mycolor" id="btnCancel" icon-start (click)="cancelUpload()" *ngIf="imageSrc">
                        <ion-icon name="close"></ion-icon>
                      Cancel !</button>
                </div>
              
                
         <!--Grid to view the images added to the member profile-->
              <ion-grid>
                <ion-row >
                  <ion-col col col-5 col-md-5 col-xl-5 *ngFor="let item of memberPhotos">
                     <p class="imageName">{{item.name}}</p> 
                      <img [src]=item.URL/>
                  </ion-col>
                  <ion-col>
                     <ion-item>
                        
                     </ion-item> 
                </ion-col>
                </ion-row>
              </ion-grid>
    
</ion-content>