<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Gallery
    </ion-title>
  </ion-navbar>


</ion-header>
<ion-content>
  <div id ="stored">
    <button ion-button (click)="showUpload()">Upload myself</button>
  <ion-label id="titles">
    Today
    <hr>
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="assets/imgs/g1.jpg"/></td>
        <td><img src="assets/imgs/g6.jpg"/></td>
       
        
      </tr>
      <tr>
          <td><img src="assets/imgs/g7.jpg"/></td>
          <td><img src="assets/imgs/g8.jpg"/></td>

         
        </tr>
    </table>
  </ion-label>
  

  <ion-label id="titles">
      Yesterday
      <hr>
      <table cellpadding="0" cellspacing="0">
        <tr>
            <td><iframe src="https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0" frameborder="0" style="width:60%;height:20%;"></iframe></td>
        </tr>
        <tr>
            <td><img src="assets/imgs/g5.jpg"/></td>
           
          </tr>
      </table>
    </ion-label>

    <ion-label id="titles">
        23.10.17
        <hr>
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td><img src="assets/imgs/g2.jpg"/></td>
            <td><img src="assets/imgs/g3.jpg"/></td>
          </tr>
          
        </table>
      </ion-label>
  </div>
<div id="add" style="display:none"> 
    <button ion-button (click)="capture()">Capture and upload Picture</button>
    <button ion-button (click)="loadData()">Load</button>
    <br>
    <img src="{{imageSrc}}"> 
    <button ion-button (click)="upload()" *ngIf="imageSrc">Upload to Firebase!</button>
    
</div>
<div id="loaded" style="display:none;">
  <ion-list>
    <ion-item *ngFor="let item of assetCollection">
     <p>{{item.name}}</p>
      <img [src]=item.URL/>
      <hr>
    </ion-item>
  </ion-list>

</div>

</ion-content>