<!--
  Generated template for the MembersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- HCI Issues

    Unable to edit the member profile after creating it
-->

<!-- Security Issues
   The member details will be only visible for the particular user who added the member
-->
<ion-header>

  <ion-navbar color="mycolor">
    <ion-title>Members</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- button to add new member-->
    <button ion-button clear color="mycolor" icon-left id="add" (click)="viewMemberForm()">
        <ion-icon name="add-circle"></ion-icon>
        Add Member 
      </button>
    
      <!--grid view to display all the members in a list view-->
    <ion-grid id="allMembs" >
        <!-- Clicking on the row will redirect to the each memberpage-->
         <!-- Long pressing on the row will allow to delete a member-->
      <ion-row *ngFor="let item of memberList" ion-long-press (onPressStart)="Remove(item.id)" (click)="viewProfile(item.id)" >
          <ion-col  col col-5 col-md-3 col-xl-2>
               <!--If the meber hasnt added a prof pic shows a contact icon-->
                <ion-icon outline color="grey" *ngIf="item.profPic == ''" ios="ios-contact" md="md-contact" id="icon2"></ion-icon><br>
                <!-- If the memb has a prf pic displays it on a img src tag-->
                <img *ngIf="item.profPic" [src] =item.profPic alt="Profile Picture">
          </ion-col>
          <ion-col>
               <!-- To view the member Details-->
                <ion-label class="info"floating><b> {{item.firstName}}&nbsp;&nbsp;{{item.lastName}} </b></ion-label>
                <ion-label class="info"floating><b> {{item.relationship}} </b></ion-label>
                <hr>
        </ion-col>
      </ion-row>   
    </ion-grid>
      
      <!-- A form to add the new mwmber-->
      <form id="MemberDetails" [formGroup]="memberForm" novalidate>
    
        <ion-item>
                <ion-label>First Name </ion-label>
                <ion-input type="text" [(ngModel)]="member.firstName" formControlName="fName"  ></ion-input>
        </ion-item>

         <!--If this first name field is touched and not filled displays a text saying the field is mandatory-->
        <ion-item *ngIf="memberForm.controls['fName'].hasError('required')  && memberForm.controls['fName'].touched">
                <p>*First Name is required</p>
        </ion-item>

        <ion-item>
            <ion-label>Last Name </ion-label>
            <ion-input type="text" [(ngModel)]="member.lastName" formControlName="lName"  ></ion-input>
        </ion-item>

         <!--If this last name field is touched and not filled displays a text saying the field is mandatory-->
        <ion-item *ngIf="memberForm.controls['lName'].hasError('required')  && memberForm.controls['lName'].touched">
                <p>*Last Name is required</p>
        </ion-item>


        <ion-item>
            <ion-label>E-mail </ion-label>
            <ion-input type="email" [(ngModel)]="member.email" formControlName="email"  ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Address </ion-label>
            <ion-input type="text" [(ngModel)]="member.address" formControlName="address"  ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Contact No</ion-label>
            <ion-input type="text" [(ngModel)]="member.phoneNum" formControlName="contNo"  ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Date of Birth</ion-label>
            <ion-input type="date" [(ngModel)]="member.DOB" formControlName="DOB"  ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Relationship</ion-label>
            <ion-input type="text" [(ngModel)]="member.relationship" formControlName="relationship" ></ion-input>
        </ion-item>

         <!--If this relationship field is touched and not filled displays a text saying the field is mandatory-->
        <ion-item *ngIf="memberForm.controls['relationship'].hasError('required')  && memberForm.controls['relationship'].touched">
                <p>*Relationship with member is required</p>
        </ion-item>

        <!--To add the profile pic for the member-->
        <ion-item>
                <ion-icon color="grey" ios="ios-contact" md="md-contact" id="icon"></ion-icon>
                 <!--Only displayed if a pic is selected-->
                <div id="profPic" *ngIf="imageSrc">
                <img   src="{{imageSrc}}"> <br>
                <button ion-button outline color="mycolor" id="btnCancel" icon-start (click)="cancelUpload()">
                        <ion-icon name="close"></ion-icon>
                      Cancel !</button>
                </div>
                <br>
                <div id="picButtons">
                <button  ion-button outline color="mycolor" (click)="capture()">Take Picture</button>&nbsp;&nbsp;
                <button  ion-button outline color="mycolor" (click)="browsePhone()">Upload Picture</button>
            </div>
        </ion-item>

        <ion-item>
            <button ion-button small color="mycolor"(click)="addMember()" type="submit" [disabled]="!memberForm.valid">Add Member</button> &nbsp;&nbsp;&nbsp;&nbsp;
            <button ion-button small color="mycolor"(click)="cancel()">Cancel</button>
        </ion-item>
    </form>

</ion-content>
