<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="mycolor">
    <ion-title>
      {{user.firstName}}  {{user.lastName}}
    </ion-title>
    
    <ion-buttons end>
      <button ion-button (click)="logout()">Logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-buttons>
    <button ion-button outline color="mycolor" id="btnMet" (click)="peopleMet()">I Met</button>
</ion-buttons>
          <!--If the meber hasnt added a prof pic shows a contact icon-->
          <ion-icon outline color="grey" *ngIf="user.profilePic == ''" ios="ios-contact" md="md-contact" id="icon2"></ion-icon>
          <!-- If the memb has a prf pic displays it on a img src tag-->
          <img id ="userPic" *ngIf="user.profPic" [src]=user.profilePic/>
  <br>
      <ion-list >

        <ion-item >
            I Live In : {{user.address}}
          </ion-item>

        <ion-item >
          My Contact : {{user.phoneNum}}
        </ion-item>

        <ion-item >
            Email : {{user.email}}
          </ion-item>

        <ion-item >
          My Care Taker : {{user.caretaker}}
        </ion-item>
      </ion-list>
</ion-content>


<!-- Dynamic user Profile -->
<!-- <ion-content >
    <ion-list >
      <ion-item>
          <img id ="userPic" src="assets/imgs/patient.jpg"/>
      </ion-item>

      <ion-label>User Name :</ion-label>
      <ion-item [(ngModel)]="user.userName"></ion-item>

        <ion-label>First Name :</ion-label>
        <ion-item [(ngModel)]="user.firstName"></ion-item>

        <ion-label>Last Name: </ion-label>
        <ion-item [(ngModel)]="user.lastName"></ion-item>

        <ion-label>Telephone: </ion-label>
        <ion-item [(ngModel)]="user.phoneNum"></ion-item>
        
        <ion-label>Care Taker: </ion-label>
        <ion-item [(ngModel)]="user.caretaker"></ion-item>
        
        <ion-label>Address: </ion-label>
        <ion-item [(ngModel)]="user.address"></ion-item>
      </ion-list>
</ion-content> -->
