page-user {
    #userPic{
        width:160px;
        height:160px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        top:-20px;
        left:70px;
     }
     #btnMet{
         position: relative;
         left:10px;
         top:400px;
         
     }
     ion-item{
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
     }
     ion-header{
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
       // text-shadow: 2px 2px 2px black;
    

    }

    #icon2{
        -webkit-border-radius: 50%;
        border-radius: 50%;
        font-size: 130px;
        position: relative;
        top:-20px;
        left:100px;
    }
}
