page-user {
    #userPic{
        width:180px;
        height:180px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        top:3px;
        left:80px;
     }
     #btnMet{
       font-weight: bold
         
     }
     #editpic{
        width:30px;
        height:30px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        left:200px;
        top:0px;
     }
     ion-item{
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
     }
     ion-header{
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
       // text-shadow: 2px 2px 2px black;
    

    }
    #imageDiv{
        position: relative;
        left:20px;
    }
    #icon2{
        -webkit-border-radius: 50%;
        border-radius: 50%;
        font-size: 160px;
        position: relative;
        top:3px;
        left:45px;
    }
}
